@keyframes example {
    from {
        height: 0;
    }

    to {
        height: 200px;
    }
}
.right_menu_container {
    width: 400px;
    display: flex;
    justify-content: flex-end;
}
.right_menu_container_1 {
    width: 118px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_menu_logo {
    height: 30px;
    z-index: 14;
    transition: all 0.1s;
}

.right_menu_logo:hover {
    height: 36px;
}

.right_menu_logo:active {
    height: 30px;
}

.cont_menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

.cont_menu_1 {
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    margin-top: 40px;
}

.cont_text_menu {
    color: #fff;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin: 10px 30px;
    transition: all 0.2s
}

.cont_text_menu:hover{
    font-size: 24px;
}

.strel {
    width: 15px;
    transition: all 0.6s;
}

.cont_menu_2{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

.cont_menu_3 {
    width: 100%;
    height: 200px;
}

.cont_menu_4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 10px 30px;
    padding: 0;
}


.right_menu-a:checked~.strel {
    height: 200px;
}

.cont_text_menu_1 {
    text-decoration: none;
    color: #fff;
    margin: 30px 0px;
    transition: all 0.2s;
}

.cont_text_menu_1:hover{
    font-size: 20px;

}

.items_menu {
    padding: 12px 0;
}


.right_menu-a:checked~.cont_menu_3 {
    animation-name: example;
    animation-duration: 4s;
}

.right_menu-a:checked~.cont_menu_3 {
    height: 0;
}

.right_menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 500px;
    background-color: #5A98D0;
    height: 100%;
    top: 0;
    right: -500px;
    transition: right .7s;
    z-index: 2;
    border-radius: 50px 0 0 0;


}

.right_menu-a:checked~.strel {
    height: 200px;
}


.cont_right_menu:checked~.button_menu {
    right: 394px;
}

.cont_right_menu:checked~.right_menu {
    right: 0;
}